/* ==========================================================================
   theme styles
   ========================================================================== */
/*
STYLESHEET
Theme custom elements
*/
.btn {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* HTML output */
body {
  height: 100% !important;
  font-family: 'OpenSansRegular', Arial, sans-serif;
}
#page {
  color: #808080;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'OpenSansSemibold';
}
p {
  font-size: 16px;
  font-size: 1.6rem;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
header,
section,
footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.navbar-toggle .fa {
  font-size: 16px;
}
header {
  height: 600px;
  text-align: center;
  background-color: #191919;
  color: #e6e6e6;
  padding: 0;
}
header h1 {
  font-size: 83px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
header h1:hover {
  color: #333333;
}
header .vtable {
  display: table;
  height: inherit !important;
  width: 100% !important;
}
header .vtable .table-cell {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
header .vtable .table-cell {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
footer .footer p {
  text-align: center;
}
.sidebar ul {
  padding-left: 0;
}
.sidebar ul li {
  list-style: none;
}
#top-link {
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 9999;
  font-size: 36px;
  padding: 10px;
}
#top-link a {
  color: #e6e6e6;
}
