/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* HTML output */
html,
body {
  height: 100% !important;
  font-family: 'OpenSansRegular', Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'OpenSansSemibold';
}
p {
  font-size: 16px;
  font-size: 1.6rem;
}
header,
section,
footer {
  padding-top: 40px;
  padding-bottom: 40px;
}
section {
  padding-top: 40px;
  padding-bottom: 40px;
}
footer .footer p {
  text-align: center;
}
/* Custom CSS3 Selectors */
#page {
  color: #808080;
}
header {
  height: 600px;
  text-align: center;
  background-color: #191919;
  color: #e6e6e6;
  padding: 0;
}
header .vtable {
  display: table;
  height: 600px;
  width: 100% !important;
}
header .vtable .table-cell {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
header h1 {
  font-size: 83px;
}
.sidebar ul {
  padding-left: 0;
}
.sidebar ul li {
  list-style: none;
}
#top-link {
  position: fixed;
  bottom: 100px;
  right: 100px;
  z-index: 9999;
  font-size: 36px;
  padding: 10px;
}
#top-link a {
  color: #e6e6e6;
}
