<div class="post">
    <article>
        <h1>Sample Article Title.</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi autem beatae
            consectetur delectus dolores eos excepturi expedita explicabo facere iure laudantium
            maxime mollitia nulla pariatur quidem ratione recusandae rem repellat repudiandae sequi,
            sit velit veritatis voluptatem voluptatum? Consectetur ea facere illum in molestiae nam
            nisi porro provident quaerat ratione rerum sed suscipit, totam velit vitae. Ad excepturi
            tempore voluptatum.</p>
    </article>
    <article>
        <h1>A ad aut eum mollitia.</h1>

        <p>Amet commodi ea eius eos eveniet excepturi, ipsum iusto magnam nemo nobis quibusdam
            quisquam repudiandae saepe, sint tenetur, voluptatem voluptatibus. Autem ducimus id
            perferendis quae vitae? Adipisci autem dolorum harum, ipsa iste, iure laborum maxime
            modi molestiae nemo nobis officia omnis perferendis perspiciatis, placeat repellat sequi
            vero voluptatem. Accusantium at consectetur cum cumque dolorum magni nihil non quasi,
            repudiandae tempore?</p>
    </article>
    <article>
        <h1>Eum, omnis, tempora? Explicabo, iusto.</h1>

        <p>Accusamus accusantium aliquam aperiam culpa cumque debitis deserunt doloribus eius enim
            eos explicabo ipsa labore minima nisi nobis nostrum perspiciatis possimus praesentium
            provident quia quidem quos ratione recusandae repellendus, sed tempora ut vitae! Culpa
            debitis et provident! Accusantium architecto, aspernatur assumenda deserunt dolorum eius
            esse facilis hic itaque, labore laboriosam libero neque optio qui rem rerum sint ullam
            unde voluptatibus?</p>
    </article>
</div>