<div class="post">
    <article>
        <h1>Lorem ipsum dolor sit amet.</h1>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi autem beatae
            consectetur delectus dolores eos excepturi expedita explicabo facere iure laudantium
            maxime mollitia nulla pariatur quidem ratione recusandae rem repellat repudiandae sequi,
            sit velit veritatis voluptatem voluptatum? Consectetur ea facere illum in molestiae nam
            nisi porro provident quaerat ratione rerum sed suscipit, totam velit vitae. Ad excepturi
            tempore voluptatum.</p>
    </article>
    <article>
        <h1>A ad aut eum mollitia edited.</h1>

        <p>Amet commodi ea eius eos eveniet excepturi, ipsum iusto magnam nemo nobis quibusdam
            quisquam repudiandae saepe, sint tenetur, voluptatem voluptatibus. Autem ducimus id
            perferendis quae vitae? Adipisci autem dolorum harum, ipsa iste, iure laborum maxime
            modi molestiae nemo nobis officia omnis perferendis perspiciatis, placeat repellat sequi
            vero voluptatem. Accusantium at consectetur cum cumque dolorum magni nihil non quasi,
            repudiandae tempore?</p>
    </article>
    <article>
        <h1>Eum, omnis, tempora? Explicabo, iusto.</h1>

        <p>Accusamus accusantium aliquam aperiam culpa cumque debitis deserunt doloribus eius enim
            eos explicabo ipsa labore minima nisi nobis nostrum perspiciatis possimus praesentium
            provident quia quidem quos ratione recusandae repellendus, sed tempora ut vitae! Culpa
            debitis et provident! Accusantium architecto, aspernatur assumenda deserunt dolorum eius
            esse facilis hic itaque, labore laboriosam libero neque optio qui rem rerum sint ullam
            unde voluptatibus?</p>
    </article>
    <article>
        <h1>Cupiditate debitis quibusdam ut voluptatibus.</h1>

        <p>Amet aspernatur deserunt dicta dolorum ducimus id in ipsam, magnam magni molestias
            quaerat quas rem sapiente sint totam veniam voluptatum! Ab beatae blanditiis dolorum
            harum iste itaque, iure minus numquam omnis perspiciatis quo recusandae similique, sit
            sunt suscipit ullam voluptate voluptatibus? Ab delectus doloribus eaque error est
            inventore ipsam molestias neque, officia porro quisquam, rem reprehenderit rerum sed,
            voluptatem voluptatibus.</p>
    </article>
    <article>
        <h1>Cumque dolore doloremque eum minus.</h1>

        <p>Ab architecto asperiores aspernatur cum dolorum enim error eum explicabo facere harum
            incidunt laborum magnam maiores maxime nihil nisi nobis odio praesentium quae quis quod
            repudiandae rerum, soluta, temporibus ullam voluptas voluptatibus, voluptatum. Cum est
            harum hic itaque placeat ratione rem vero. Beatae corporis delectus excepturi odio,
            omnis quibusdam quos sed temporibus vero? Culpa magnam odit quibusdam repellat saepe,
            tempora!</p>
    </article>


</div>