/* mixins
use full theme mixins
*/
.sg {
  /* sg colors */
}
.sg.header,
header.sg {
  background-color: #ffffff;
}
.sg.vtable {
  /* vertically align div content */
  display: table;
  height: inherit !important;
  width: 100% !important;
}
.sg.vtable .table-cell {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.sg.vtable .table-cell {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.sg.vtable .table-cell {
  display: table-cell;
  width: 100%;
  vertical-align: middle;
}
.sg.white.background {
  background-color: #ffffff;
}
.sg.white.color {
  color: #ffffff;
}
.sg.gray.background {
  background-color: #808080;
}
.sg.gray.color {
  color: #808080;
}
.sg.darkgray.background {
  background-color: #222222;
}
.sg.darkgray.color {
  color: #222222;
}
.sg.black.background {
  background-color: #111111;
}
.sg.black.color {
  color: #111111;
}
.sg.white-lilac.background {
  background-color: #e6e6e6;
}
.sg.white-lilac.color {
  color: #e6e6e6;
}
.sg.anti-white-flash.background {
  background-color: #f1f1f1;
}
.sg.anti-white-flash.color {
  color: #f1f1f1;
}
.sg.sliver.background {
  background-color: #c0c0c0;
}
.sg.sliver.color {
  color: #c0c0c0;
}
.sg.yellow.background {
  background-color: #ffdc00;
}
.sg.yellow.color {
  color: #ffdc00;
}
.sg.navy.background {
  background-color: #001f3f;
}
.sg.navy.color {
  color: #001f3f;
}
.sg.blue.background {
  background-color: #0074d9;
}
.sg.blue.color {
  color: #0074d9;
}
.sg.green.background {
  background-color: #2ecc40;
}
.sg.green.color {
  color: #2ecc40;
}
.sg.red.background {
  background-color: #ff4136;
}
.sg.red.color {
  color: #ff4136;
}
.sg.aqua.background {
  background-color: #7fdbff;
}
.sg.aqua.color {
  color: #7fdbff;
}
