// Shawn Sandy - created 09/04/2014

@import "../../../bower_components/bootstrap/less/variables";
@import "../../../bower_components/bootstrap/less/bootstrap";
//@import "../../../bower_components/bootstrap/less/grid";
@import "theme-variables";


.sections() {

  section&, header&, footer&, main&  {

    > div {

      .container-fixed();

      &.contain {

        .container-fixed();

        @media (min-width: @screen-sm-min) {
          width: @container-sm;
        }
        @media (min-width: @screen-md-min) {
          width: @container-md;
        }
        @media (min-width: @screen-lg-min) {
          width: @container-lg;
        }

      }


  }



}
  .blocks {

    .make-row();
  }
  .blog();

}


//article { @extend .col-lg-9; }

.blog() {
  .post {
    .cols(8);

  }
  .sidebar {
    .cols(4);

  }

}

.cols(@desktop, @tablet:12, @phone:12){
  // .make-xs-column(@phone);
  .make-sm-column(@tablet);
  .make-md-column(@desktop);
  .make-lg-column(@desktop);
}


